/* style.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0b1a;
  color: #fff;
}

header {
  background-color: #4b0082; /* Header background color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
  color: #c089ff;
}

nav {
  display: flex;
  align-items: center;
}

.nav-center a {
  margin-left: 20px;
  text-decoration: none;
  color: #d9b3ff;
  transition: color 0.3s ease;
}

.nav-center a:hover {
  color: #fff;
}

.search-container {
  display: flex;
  align-items: center;
}

#search-form {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #581b83; /* Darker
